/* Estilos CSS para o layout da grade de produtos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 20px); /* Definir a largura para 33.33% menos a margem */
    margin: 0 10px; /* Adicionar uma margem entre os produtos */
}
.product img {
    width: 100%;
    height: auto; /* Para manter a proporção da imagem */
    object-fit: cover;
}
.product-info {
    padding: 10px;
}
.product-title {
    font-size: 18px;
    margin-bottom: 5px;
}
.product-description {
    margin-bottom: 10px;
}
.product-price {
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .product {
        width: calc(50% - 20px); /* Definir a largura para 50% em telas menores */
    }
}
@media screen and (max-width: 480px) {
    .product {
        width: 100%; /* Definir a largura como 100% em telas ainda menores */
    }
}
